{% extends 'tests_manager/layout.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'tests_manager/css/table.css' %}">
<link rel="stylesheet" href="{% static 'tests_manager/css/font_table.css' %}">
<link rel="stylesheet" href="{% static 'tests_manager/css/atom-one-light.min.css' %}">

{% verbatim %}
<div id="q-app">
    <div class="q-pa-md">
    <div class="q-mt-md row q-gutter-sm">

    <q-btn-toggle
    v-model="dbSchema"
    toggle-color="primary"
    :options="[
        { label: 'BIKL', value: 'BIKL' },
        { label: 'SKLI', value: 'SKLI' }
    ]"
    @input="changeSchema">
    </q-btn-toggle>

    <q-btn
        v-if="tableMode === 'incoming'"
        color="primary"
        icon="refresh"
        label="Обновить"
        :loading="loading"
        @click="loadData">
    </q-btn>

    <q-btn
        v-if="tableMode === 'outgoing' || tableMode === 'admin'"
        color="secondary"
        icon="arrow_back"
        label="Вернуться к входящим сообщениям"
        @click="loadIncoming">
    </q-btn>

    <q-btn
        v-if="tableMode === 'incoming'"
        style="background-color: #fa9600; color: white;"
        icon="warning"
        label="Сообщения администратора"
        :loading="loading"
        @click="loadAdmin">
    </q-btn>

</div>
    </div>

  <div class="q-pa-md">
    <q-table
    ref="table"
    title="Сообщения DB2B"
    :data="data"
    :columns="tableMode === 'incoming'
        ? incomingColumns
        : tableMode === 'outgoing'
            ? outgoingColumns
            : adminColumns"
    row-key="IdMessageInMX"
    :filter="search"
    >
    <template v-slot:top-right>
        <q-input dense debounce="300" color="primary" v-model="search" placeholder="Поиск">
            <template v-slot:append>
                <q-icon name="search" />
            </template>
        </q-input>
    </template>

    <template v-slot:body="props">
    <q-tr
        :props="props"
        @contextmenu.prevent="openContextMenu($event, props.row)">
        <q-td
            v-for="col in props.cols"
            :key="col.name">
            {{ getCellValue(props.row, col) }}
        </q-td>
    </q-tr>
</template>

</q-table>

      <q-menu
    ref="rowMenu"
    context-menu
    touch-position>
    <q-list dense style="min-width:220px">

        <q-item clickable v-close-popup @click="showMessage">
            <q-item-section>
                Получить текст сообщения
            </q-item-section>
        </q-item>

        <q-item
            v-if="tableMode === 'incoming'"
            clickable
            v-close-popup
            @click="showOutgoing">
            <q-item-section>
                Исходящие сообщения
            </q-item-section>
        </q-item>

    </q-list>
</q-menu>

<q-dialog v-model="messageDialog">
    <q-card style="min-width:1000px; max-width:95vw;">
        <q-card-section style="max-height:70vh; overflow:auto;">

            <pre>
                <code ref="xmlCode" class="language-xml">
                {{ messageText }}
                </code>
            </pre>

        </q-card-section>
    </q-card>
</q-dialog>


  </div>
</div>
{% endverbatim %}


<script type="text/javascript" src="{% static 'tests_manager/js/vue.js' %}"></script>
<script type="text/javascript" src="{% static 'tests_manager/js/umd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tests_manager/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tests_manager/js/xml.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tests_manager/js/smp_table.js' %}"></script>

{% endblock %}